@function get-width($name) {
  $width: map-get($media-prefix, $name);
  @return if($width != 0, $width, null);
}

@function get-elevation($level) {
  $lv: map-get($elevation-value, $level);
  @return if($lv != 0, $lv, null);
}

@mixin screen-size($name) {
  $width: get-width($name);
  @if $width {
    @media only screen and (max-width: $width) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin transition($target: all, $duration: 0.3s, $timing: ease-in-out) {
  -webkit-transition: $target $duration $timing;
  transition: $target $duration $timing;
}

@mixin container {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.1);
}
